footer {
    color: var(--text-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
  }
  
  footer .footer_logo {
    display: flex;
    flex-direction: column;
    line-height: .1rem;
    font-weight: 500;
  }

  @media screen and (max-width: 768px) {
    footer {
      flex-direction: column;
      text-align: center;
    }
      
    footer .footer_logo {
      margin-bottom: 3rem;
    }
  }