:root {
  --text-white: #FFF;
  --text-blue: rgb(85, 46, 255);
  --text-green: rgb(42, 224, 154);
  --text-orange: rgb(255, 81, 0);
  --text-purple: rgb(172, 13, 172);
  --text-yellow: rgb(255, 196, 0);
}