.section_burt {
    display: flex;
    justify-content: space-around;
    margin-top: 10rem;
}

.section_burt .burt {
    color: var(--text-purple);
    font-size: 2rem;
    font-weight: 800;
}

.section_burt .lead_text {
    font-size: 2.5rem;
    font-weight: 400;
    max-width: 80%;
}

.section_burt .desc {
    font-weight: 500;
    line-height: 2rem;
    font-size: 1.15rem;
    max-width: 70%;
}

.section_burt .see_it {
    font-size: 1.4rem;
    font-weight: 800;
    color: var(--text-purple);
    cursor: pointer;
}

.section_burt img {
    height: 90vh;
    max-width: 50%;
}

@media screen and (max-width:768px) {
    .section_burt {
        flex-direction: column;
    }

    .section_burt .lead_text, .section_burt .desc {
        max-width: 90vw;
    }

    .section_burt img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        max-width: 80vw;
    }
}